# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
#media/
#staticfiles/

# Conda
.conda/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# imp file
ndlovudereck01@gmail.com-2026-06-26T13_52_47.674Z.pem